* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #181c2b no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: 'Poppins', Helvetica, sans-serif;
}
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}
.search {
  width:100%;
  height: 100px;
  padding: 30px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}

.appTitle {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.results {
  width:100%;
  /* padding: 20px;
  margin:10px; */
  /* color:#215e65; */
  font-weight: 500;
  border-radius: 15px;

  background: #091921;
  box-shadow: -1px 1px 3px rgba(255,255,255,0.1),
               -2px -2px 6px rgba(0,0,0,0.8);
  cursor: pointer;
}
.results:hover {
  box-shadow: -1px 1px 3px rgba(255,255,255,0.1),
              -2px -2px 6px rgba(0,0,0,0.8),
              inset -2px -2px 10px rgba(255,255,255,0.05),
              inset -2px -2px 10px rgba(0,0,0,0.5);
}
.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.highlight:hover {
  color: #00fff1;
}
.resultContainer:hover {
  border-radius: 15px;
  /* box-shadow: 
              inset 1px 5px 3px rgba(0,255,150,0.02),
              inset 2px 2px 6px rgba(0,0,0,0.05); */
  /* text-shadow: 0 0 2px #eefff1,
               0 0 2px #eefff1; */
               -webkit-animation: slide-left 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) ;
               animation: slide-left 0.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) ;
}
.resultTitle {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 5px;
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
}
.resultContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  color: #d3d3d3;

}
.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 250, 250, 0.75), rgba(0, 0, 0, 0));
}
.separator2 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0), rgba(39, 8, 110, 0.75), rgba(250, 250, 250, 0));
}

/* ANIMATIONS */
.slide-left {
	-webkit-animation: slide-left 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) ;
	        animation: slide-left 0.3s cubic-bezier(0.445, 0.050, 0.550, 0.950) ;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}